.nav-bg-black{
    background-color: #2a2c38;
}


.nav-button{
    background-color: #2a2c38;
    color: white;
}

.menu-bar {
    position: absolute;
    top: 100%; /* Positions the menu bar below the navbar */
    left: 0;
    right: 0;
    background-color: white;
    z-index: 20; /* Ensure the menu is above the body content */
    padding: 20px;
}

.nav-button:hover{
    transform: scale(1.1);

}