.footer{
    background : url('../../assets/footer/background.jpg');
    background-size: cover;
    background-position: center;
}

.footer-button{
    background-color: white;
    color: black;
}

.underlined{
    text-decoration: underline;
}

.footer-background{
    background-color: #2a2c38;
}
.black-box{
    background-color: #22232d;
    color: white;
}
.schedule-button{
    background-color: #ff9021;
    color:black ;
}

.socialMedia{
    background-color: #ff9021;
}


.schedule-button:hover{
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #ffffff;
    color:black ;
}